[Unit]
Description=Public Asset Management Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/public-asset-managment
ExecStart=/home/public-asset-managment/onstart.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target